In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('http://www.stat.wisc.edu/~jgillett/451/data/mtcars.csv', index_col=0)
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [2]:
len(df.columns)

11

In [3]:
df["hp"].min()
#df["hp"].mean()

52

In [4]:
 df[ (df["vs"]>0) & (df["carb"]==2) ]

               mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Merc 240D     24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
Merc 230      22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
Honda Civic   30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
Volvo 142E    21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [5]:
df.loc[["Mazda RX4", "Toyota Corolla", "Honda Civic", "Maserati Bora", "Camaro Z28"]]

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
Honda Civic     30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
Maserati Bora   15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
Camaro Z28      13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4

In [6]:
df2 = df[0:4]
df2[["mpg", "cyl", "disp"]].std()

mpg      0.854400
cyl      1.000000
disp    62.660461
dtype: float64

In [7]:
df3 = df[["hp", "qsec", "gear"]]

In [8]:
df3.iloc[1,2]

4

In [9]:
df.copy().sort_index(axis=0, ascending=False)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2

In [10]:
df.copy().sort_values(by=['gear', 'hp'], axis=0, ascending=[True, False])

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2

In [27]:
dff = pd.read_csv('kmconrad3Q5.csv') #, index_col=0)

    age sex  weight eye_color hair_color
0    23   F   107.7      gray   chestnut
1    21   F   188.2      gray      brown
2    22   M   253.3     hazel      brown
3    20   F   210.4      blue      black
4    23   M   192.3     green      blond
5    22   F   172.5     hazel      blond
6    22   M   194.0     hazel     auburn
7    22   M   178.8     green   chestnut
8    19   F   196.9     hazel      white
9    19   M   214.5     hazel   chestnut
10   26   M   174.9      gray        red
11   19   M   252.9     green        red
12   15   M   170.3     hazel   chestnut
13   20   F   121.3     hazel        red
14   25   M   122.4     hazel      black
15   15   F   149.4     hazel   chestnut
16   18   F   158.7     brown     auburn
17   18   M   209.2     hazel      brown
18   23   M   163.7     hazel       gray
19   22   M   254.9      blue        red

In [28]:
dff[dff.sex=="F"].age.mean()

19.75

In [29]:
dff[ (dff.eye_color=="brown") & (dff.sex=="M")].age.mean()

nan

In [42]:
dff[ (dff.hair_color=="black") | (dff.hair_color=="blond") | (dff.hair_color=="brown")]

    age sex  weight eye_color hair_color
1    21   F   188.2      gray      brown
2    22   M   253.3     hazel      brown
3    20   F   210.4      blue      black
4    23   M   192.3     green      blond
5    22   F   172.5     hazel      blond
14   25   M   122.4     hazel      black
17   18   M   209.2     hazel      brown

In [41]:
 (dff[ (dff.eye_color=="hazel") & (dff.hair_color!="gray")] )

    age sex  weight eye_color hair_color
2    22   M   253.3     hazel      brown
5    22   F   172.5     hazel      blond
6    22   M   194.0     hazel     auburn
8    19   F   196.9     hazel      white
9    19   M   214.5     hazel   chestnut
12   15   M   170.3     hazel   chestnut
13   20   F   121.3     hazel        red
14   25   M   122.4     hazel      black
15   15   F   149.4     hazel   chestnut
17   18   M   209.2     hazel      brown